@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pretendard", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    height: fit-content;
    display: inline;
    font-style: normal;
    line-height: normal;
    text-overflow: inherit;
    word-break: break-all;
    overflow: inherit;
}

code {
    font-family: "JetBrains Mono", monospace;
}
