@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-black: #000000;
    --text-white: #EEEEEE;

    --header-default: #323232;
    --header-hover: #383838;

    --background-default: #2C2C2C;
    --background-hover: #303030;
    --background-highlight: #3A3A3A;
}

::-webkit-scrollbar {
    background-color: var(--background-highlight);

    width: 10px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-hover);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.animated {
    transition: all 0.5s;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html {
    background-color: var(--background-default);
}

body {
    font-family: "Pretendard", "Century Gothic", Inter, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    height: fit-content;
    display: inline;
    font-style: normal;
    line-height: normal;
    text-overflow: inherit;
    word-break: break-all;
    overflow: inherit;
    color: var(--text-white);
}

code {
    font-family: "JetBrains Mono", monospace;
}
