@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-black: #000000;
    --text-white: #EEEEEE;

    --header-default: #323232;
    --header-hover: #383838;

    --background-default: #2C2C2C;
    --background-hover: #303030;
    --background-highlight: #3A3A3A;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: var(--background-default);
}

body {
    font-family: "Pretendard", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    height: fit-content;
    display: inline;
    font-style: normal;
    line-height: normal;
    text-overflow: inherit;
    word-break: break-all;
    overflow: inherit;
    color: var(--text-white);
}

code {
    font-family: "JetBrains Mono", monospace;
}
